@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);



:root {

/* color */

--clr-neutral-900: #12131A;
--clr-neutral-800: #21222C;
--clr-neutral-700: #2A2B37;
--clr-neutral-600: #404254;
--clr-neutral-200: #E4E4EF;
--clr-neutral-100: #F2F2F7;
--clr-neutral-0:   #FFFFFF;

--clr-blue-400: #D3A0FA;
--clr-blue-500: #C27CF8;

--clr-yellow-500: #FF9F00;
--clr-orange-500: #FE8159;
--clr-orange-800: #DA3701;

/* FONT FAMILY */

--font-family: "DM Sans", system-ui, sans-serif;

/* FONT SIZE */

--font-size-64: 4rem;
--font-size-mobile-40: 2.5rem;
--font-size-24: 24px;
--font-size-20: 20px;
--font-size-16: 1rem;

/* FONT WEIGHT */

--font-weight-regular: 400;
--font-weight-semiBold: 600;
--font-weight-bold: 700;


/* LINE HEIGHT */

    --line-height-tight: 1;
    --line-height-normal: 1.3;
    --line-height-relaxed: 1.4;

/* LETTER SPACING */

--letter-spacing-1: -1px;
--letter-spacing-06: -0.6px;

}